:root {
  --text-color: #52525a;
  --background-color: hsl(278, 22%, 90%);
  --background-color-transparent: hsla(278, 22%, 90%, 0.6);
  --primary: #f7e652;
  --primary-vibrant: #f7bd21;
  --accent: #e65a42;
  --accent-vibrant: #c52119;
  --secondary: #51d111;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
